<div class="grid-container">
  <google-map height="100%" width="100%" [center]="center" [zoom]="zoom" [options]="options" *ngIf="loggedIn()">
    <map-marker [position]="center"></map-marker>
    <div *ngFor="let marker of markers">
      <map-marker [position]="marker.position" [icon]="marker.icon" [title]="marker.title" [label]="marker.title"></map-marker>
    </div>
  </google-map>
  <div class="parking-lot-list">
    <h2 style="text-align: center">Parking lots</h2>
    <ul>
      <div class="parking-lot-card" *ngFor="let parkingLot of parkingLots">
        <mat-card class="mat-elevation-z12" *ngIf="loggedIn()">
          <mat-card-content>
            <h2 style="text-align: center">{{parkingLot.name}}</h2>
            <p>Zone: {{parkingLot.zone}}</p>
            <p>Car slots: {{parkingLot.carSlots}}</p>
            <p>Bus slots: {{parkingLot.busSlots}}</p>
            <p>Handicap slots: {{parkingLot.handicapSlots}}</p>
            <p>Price per hour: {{parkingLot.pricePerHour}}</p>
            <div style="text-align: end">
              <mat-icon class="end">local_parking</mat-icon>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </ul>
  </div>
</div>
