<div class="request-parking-lot-page">
  <mat-card class="mat-elevation-z12" *ngIf="loggedIn()">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs">
      <mat-tab label="Enter new parking lot information">
        <mat-card-content>
          <form action="" [formGroup]="requestParkingLotForm">
            <mat-form-field>
              <input matInput placeholder="Name" formControlName="name">
              <mat-icon matSuffix>local_parking</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Latitude" formControlName="lat">
              <mat-icon matSuffix>place</mat-icon>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Longitude" formControlName="lng">
              <mat-icon matSuffix>place</mat-icon>
            </mat-form-field>
            <button mat-raised-button color="primary" class="login-button" (click)="requestParkingLot()">Send</button>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
