<mat-toolbar>
  <div class="start">
    <button mat-icon-button class="example-icon" (click)="drawer.toggle()" *ngIf="loggedIn()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="center">
    <span>TPark</span>
  </div>
  <div class="end">
    <button class="logout-button" mat-button color="warn" routerLink="/" *ngIf="loggedIn()" (click)="logout()">LOG OUT</button>
  </div>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #drawer mode="side">
    <button mat-button class="menu-button" routerLink="/account">
      <mat-icon>person</mat-icon>
      <span>Account</span>
    </button>
    <button mat-button class="menu-button" routerLink="/requestParkingLot">
      <mat-icon>not_listed_location</mat-icon>
      <span>Request new parking lot</span>
    </button>
    <button mat-button class="menu-button" routerLink="/map">
      <mat-icon>map</mat-icon>
      <span>Map</span>
    </button>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
